<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Sincronización de Datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Texto explicativo -->
  <div class="ion-text-center">
    <p class="sync-text">
      Asegúrate de que tienes conexión a internet antes de proceder con la sincronización.
      Haz clic en el botón para sincronizar los datos con el servidor.
    </p>
  </div>

  <div class="ion-text-center sync-button">
    <ion-button size="large" expand="block" color="success" (click)="sincronizarDatos()">
      <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
      sincronización
    </ion-button>
  </div>
  
  <!-- Mostrar los contratos cargados -->
  <ion-list>
    <ion-item *ngFor="let contrato of contratos">
      {{ contrato.nombre }} (ID: {{ contrato.id }})
    </ion-item>
  </ion-list>
  

  <!-- <div class="ion-text-center sync-button">
    <ion-button size="large" expand="block" color="success" (click)="comparar($event)">
      <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
      Comparacion
    </ion-button>
  </div> -->

  <!-- <div class="ion-text-center sync-button">
    <ion-button size="large" expand="block" color="success" (click)="createContratos($event)">
      <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
      Creacion
    </ion-button>
  </div> -->
</ion-content>